version: '3.8'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  user_service:
    build: ./user_service
    ports:
      - "8001:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

  product_service:
    build: ./product_service
    ports:
      - "8002:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

  cart_service:
    build: ./cart_service
    ports:
      - "8003:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

  delivery_service:
    build: ./delivery_service
    ports:
      - "8004:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

volumes:
  mongo_data: